{% extends 'default.twig' %}
{% block title 'Accueil' %}
{% block main %}
    <section class="home">
        <h2>Derniers Projets</h2>
        <div class="last-projects">
            {% for lastProject in lastAddedProjects %}
                <figure class="portfolio-item">
                    <a href="{{ lastProject.path }}"><img src="{{ lastProject.image_path }}" alt="{{ lastProject.name }}" /></a>
                    <figcaption>
                        <p>{{ lastProject.name }}<br />{{ lastProject.description }}</p>
                    </figcaption>
                </figure>
            {% endfor %}
        </div>
    </section>
    <section class="home">
        <h2>Derniers Articles</h2>
        <div class="last-posts">
            {% for lastPost in lastAddedPosts %}
                <article>
                    <h1>{{ lastPost.title }}</h1>
                    <div>
                        {{ lastPost.content|excerpt(150, true) }}
                        <a href="{{ 'article'|getUrl ~ '?id=' ~ lastPost.id }}">-> Lire la suite</a>
                    </div>
                    <small>Publié le {{ lastPost.date_fr }}</small>
                </article>
            {% endfor %}
        </div>
    </section>
    <section class="home terminal-readme">
        <h2>Terminal de navigation : utilisation</h2>
        <p>A venir !</p>
    </section>
    <section class="home">
        <h2>Contact</h2>
        <p>
            Vous souhaitez me contacter ?<br>
            Utilisez le formulaire de contact ou bien directement via l'adresse mail suivante :<br>
            <em>batpaulin@gmail.com</em>
        </p>
        <div class="contact">
            <p class="contact-show"><span class="contact-show-message">+ Afficher</span> le formulaire de contact</p>
            <form action="{{ 'contactForm'|getUrl }}" method="post" class="contact-form off">
                <input type="text" title="contact-name" id="contact-name" name="contact-name" placeholder="Votre nom..." value="{{ name }}" required>
                <input type="email" title="contact-mail" id="contact-mail" name="contact-mail" placeholder="Votre mail..." value="{{ mail }}" required><br>
                <input type="text" title="contact-subject" id="contact-subject" name="contact-subject" placeholder="Sujet..." value="{{ subject }}" required><br>
                <textarea title="contact-message" id="contact-message" name="contact-message" placeholder="Votre message..." cols="80" rows="20" required>{{ message }}</textarea><br>
                <button type="submit">Envoyer</button>
            </form>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script src="../../public/js/contact.js"></script>
{% endblock %}