{% extends 'default.twig' %}
{% block title 'Accueil' %}
{% block main %}
    <section class="home">
        <h2>Derniers Projets</h2>
        <div class="last-projects">
            {% for lastProject in lastAddedProjects %}
                <figure class="portfolio-item">
                    <a href="{{ lastProject.path }}"><img src="{{ lastProject.image_path }}" alt="{{ lastProject.name }}" /></a>
                    <figcaption>
                        <p>{{ lastProject.name }}<br />{{ lastProject.description }}</p>
                    </figcaption>
                </figure>
            {% endfor %}
        </div>
    </section>
    <section class="home">
        <h2>Derniers Articles</h2>
        <div class="last-posts">
            {% for lastPost in lastAddedPosts %}
                <article>
                    <h1>{{ lastPost.title }}</h1>
                    <div>
                        {{ lastPost.content|truncate(200, true)|raw }}
                        <a href="{{ 'article'|getUrl ~ '?id=' ~ lastPost.id }}">-> Lire la suite</a>
                    </div>
                    <small>Publié le {{ lastPost.date_fr }}</small>
                </article>
            {% endfor %}
        </div>
    </section>
    <section class="home">
        <h2>Terminal de navigation : utilisation</h2>
        <p>Le terminal de navigation est un outil sous forme de console/terminal permettant de réaliser diverses actions sur le site.</p>
        <p>
            Vous pouvez y accéder en cliquant sur l'icone <i class="fas fa-window-maximize"></i><br>
            ou en effectuant la combinaison des touches suivantes : <i>ALT + T</i>
        </p>
        <p>
            Le terminal est amené à évoluer avec l'implémentation de fonctions supplémentaires au fil du temps.<br>
            Ainsi, il pourra devenir un véritable outil d'administration et de navigation ludique.
        </p>
    </section>
    <section class="home">
        <h2>Contact</h2>
        <p>
            Vous souhaitez me contacter ?<br>
            Utilisez le formulaire le formulaire ci-dessous ou bien tapez <strong><i>contact</i></strong> dans le terminal.
        </p>
        <div id="contact">
            <form action="{{ 'contactForm'|getUrl }}" method="post" class="contact-form">
                <input type="text" title="contact-name" id="contact-name" name="contact-name" placeholder="Votre nom..." value="{{ name }}" required>
                <input type="email" title="contact-mail" id="contact-mail" name="contact-mail" placeholder="Votre mail..." value="{{ mail }}" required><br>
                <input type="text" title="contact-subject" id="contact-subject" name="contact-subject" placeholder="Sujet..." value="{{ subject }}" required><br>
                <textarea title="contact-message" id="contact-message" name="contact-message" placeholder="Votre message..." cols="60" rows="15" required>{{ message }}</textarea><br>
                <button type="submit">Envoyer</button>
            </form>
        </div>
    </section>
{% endblock %}