<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="icon" type="image/png" href="/public/images/favicon/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Play|Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Niluap :: {% block title '' %}</title>
</head>

<body>
<div class="site-admin">
    <nav class="site-menu">
        <div>
            <a {{ 'home'|getUrl|getActiveMenu }} href="{{ 'home'|getUrl }}">Accueil</a>
            <a {{ 'blog'|getUrl|getActiveMenu }} href="{{ 'blog'|getUrl }}">Blog</a>
            <a {{ 'portfolio'|getUrl|getActiveMenu }} href="{{ 'portfolio'|getUrl }}">Portfolio</a>
            <a {{ 'cv'|getUrl|getActiveMenu }} href="{{ 'cv'|getUrl }}">C.V</a>
            <a {{ 'admin'|getUrl|getActiveMenu }} href="{{ 'admin'|getUrl }}">Admin</a>
        </div>
    </nav>
    <nav class="site-menu-admin">
        <div>
            <a {{ 'comments'|getUrl|getActiveMenu }} href="{{ 'comments'|getUrl }}">Commentaires</a>
            <a {{ 'newPost'|getUrl|getActiveMenu }} href="{{ 'newPost'|getUrl }}">Nouvel Article</a>
            <a {{ 'newProject'|getUrl|getActiveMenu }} href="{{ 'newProject'|getUrl }}">Nouveau Projet</a>
        </div>
    </nav>
    <div class="site-content">
        {{ getAlert('alert') }}
        <main class="site-main-admin">
            {% block mainAdmin %}{% endblock %}
        </main>
        <footer class="site-footer">
            <div>&copy; {{ "now"|date('Y', timezone="Europe/Paris") }} - Bat Paulin - All Rights Reserved</div>
        </footer>
    </div>
</div>
<!-- Terminal window -->
<div id="terminal" class="off">
    <div class="terminal-name">
        <span>Terminal de navigation</span>
        <span class="terminal-close">✖</span>
    </div>
    <div id="terminal-content">
        <div class="terminal-text">
            <p>Ceci est un terminal de navigation.</p>
            <p>Il permet une navigation avancée sur le site.</p>
            <p>Pour voir les commandes à votre disposition, tapez : -help</p>
        </div>
        <form class="terminal-form">
            <input type="text" title="command" id="command" name="command" placeholder="Entrez une commande..." autocomplete="off" required>
            <button type="submit">Valider</button>
        </form>
    </div>
</div>
<div class="terminal-button" data-tooltip="Ouvrir/Fermer le terminal">
    <i class="fas fa-window-maximize fa-5x"></i>
</div>
<!-- End of terminal window -->

<script src="/public/js/terminal.js"></script>
<script>
    var routes = {
        'home': '{{ 'home'|getUrl }}',
        'blog': '{{ 'blog'|getUrl }}',
        'portfolio': '{{ 'portfolio'|getUrl }}',
        'cv': '{{ 'cv'|getUrl }}',
        'admin': '{{ 'admin'|getUrl }}'
    };
</script>
<script src="/public/js/commandsFunctions.js"></script>
<script src="/public/js/commandsList.js"></script>
<script src="/public/js/commands.js"></script>
{% block scripts %}
{% endblock %}
</body>

</html>